@import './weui-btn_global'
@import './weui-btn_primary'

button, input
  &.weui-btn
    width 100%
    border-width 0
    outline 0
    -webkit-appearance none
    &:focus
      outline 0
  &.weui-btn_inline, &.weui-btn_mini
    width auto
  &.weui-btn_plain-primary, &.weui-btn_plain-default
    border-width 1px
    background-color transparent