@import '../../base/fn'

.weui-btn
  position relative
  display block
  margin-left auto
  margin-right auto
  padding-left 14px
  padding-right 14px
  box-sizing border-box
  font-size weuiBtnFontSize
  text-align center
  text-decoration none
  color weuiBtnFontColor
  border-radius weuiBorderRadius
  setTapColor()
  overflow hidden

.weui-btn_inline
  display inline-block