weuiBtnHeight = 46px
weuiBtnFontSize = 18px
weuiBtnFontColor = #fff

weuiBtnActiveFontColor = rgba(255, 255, 255, .6)
weuiBtnDisabledFontColor = rgba(255, 255, 255, .6)

weuiBorderRadius = 5px
weuiMiniFontSize = 13px
weuiBtnMiniHeight = 2.3

weuiBtnPrimaryBg = #1aad19
weuiBtnPrimaryActiveBg = #179b16
weuiBtnPrimaryDisableBg = #9ed99d