bgc = #f47d31

*
  margin 0
  padding 0

body
  background-color #cccccc
  font-family sans-serif
  margin 0 auto
  min-width 900px

header
  background-color bgc
  display block
  color #fff
  text-align center
  h2
    margin 0

h1
  font-style 72px
  margin 0

h2
  font-style 24px
  margin 0
  text-align center
  color bgc

nav
  display block
  a
    display block
    border-bottom 3px solid #fff
    padding 10px
    text-decoration none //tdn
    font-weight bold
    margin 5px
    &:hover
      color white