* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ccc;
  font-family: sans-serif;
  margin: 0 auto;
  min-width: 900px;
}
header {
  background-color: #f47d31;
  display: block;
  color: #fff;
  text-align: center;
}
header h2 {
  margin: 0;
}
h1 {
  font-style: 72px;
  margin: 0;
}
h2 {
  font-style: 24px;
  margin: 0;
  text-align: center;
  color: #f47d31;
}
nav {
  display: block;
}
nav a {
  display: block;
  border-bottom: 3px solid #fff;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  margin: 5px;
}
nav a:hover {
  color: #fff;
}
