* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  background: url(http://i.imgur.com/b9r5sEL.jpg);
  background-size: cover;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.key {
  width: 10rem;
  border: .4rem solid black;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  text-align: center;
  color: #ffffff;
  border-radius: .5rem;
  background: rgba(0, 0, 0, .4);
  text-shadow: 0 0 5rem black;
  transition: all .3s ease;
}

.key > div {
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

.playing {
  transform: scale(1.1);
  border: .4rem solid #ffc600;
}