<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <ul id="name_list"></ul>
  <script type="text/html" id="user_tmpl">
    <% for(var i = 0; i < users.length; i++) {%>
        <li>
          <a href="<%= users[i].url%>">
            <%= users[i].name%>
          </a>
        </li>
    <% }%>
  </script>
  <!-- 数据展示写在js里 不好调 lol专题 产品和运营人员， 设计师也要能改 -->
  <script src="./node_modules/lodash/lodash.min.js"></script>
  <script>
    const container = document.getElementById('name_list')
    const data = {
      users: [
        { "name": "Kevin", "url": "http://localhost" },
        { "name": "Daisy", "url": "http://localhost" },
        { "name": "Kelly", "url": "http://localhost" }
      ]
    }
    /* let users = data.users;
    document.getElementById('name_list').innerHTML = users.map(user => `
    <li>
      <a href="${user.url}">${user.name}</a>
    </li>
  `).join('') */
    const precompile = _.template(document.getElementById('user_tmpl').innerHTML)
    const html = precompile(data)
    container.innerHTML = html
  </script>
</body>

</html>